{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================
       page title 
    =========================== -->
    {% with  request.resolver_match.url_name as url_name  %}
    <section class="page-title page-title-layout2 bg-overlay text-center pb-0">
        <div class="bg-img"><img src="{% static './assets/images/page-titles/3.jpg' %}" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
              <div class="pagetitle__icon">
                <i class="icon-microscope"></i>
              </div>
              <h1 class="pagetitle__heading">
                {% if url_name == 'about' %} 
                     Hakkımızda
                     <h2>
                        <p class="heading__desc mb-30">Hisar Medikal, Türkiye'de 2019 Yılında 
                          Kurulmuş Bir Medikal Cihaz Ve Tıbbi Malzeme tedarik Şirketidir.
                          Şirket, Ürün Yelpazesinde Kalp Damar Cerrahisi, Kardiyoloji Branşına ait urunler ve  
                          Cerrahi Aletler, Hastane Ekipmanları, Sterilizasyon Ürünleri, Ortopedik Malzemeler 
                          Ve Daha Birçok Medikal Cihaz Yer Alır. Tedarigini sagladigi Ürünlerin 
                          Kalite Ve Güvenilirligine Büyük Önem Vermektedir. 
                          Ürünler,FDA, ISO Ve CE Gibi Uluslararası Kalite Ve Güvenlik Standartlarına 
                          Uygun Olarak Üretilir Ve Dağıtılır. 
                          <br>Şirket, Müşteri Memnuniyeti Için Yüksek Kaliteli Ürünler Ve 
                          Hızlı Teslimat Sağlamayı Hedefler. Ayrıca, Türkiye Genelindeki 
                          Sağlık Sektöründe Faaliyet Gösteren Birçok Kuruluşla Işbirliği 
                          Yaparak Ürünlerini Geniş Bir Müşteri Kitlesine Sunar. Şirket, 
                          Müşteri Odaklı Yaklaşımı Ve Etkili Lojistik Yönetimi Sayesinde, 
                          Kısa Sürede Büyük Bir Müşteri Portföyü Oluşturmuştur. Medikal 
                          Cihazlar Ve Tıbbi Malzemeler Sektöründe Türkiye'nin Önde Gelen 
                          Şirketleri Arasında Yer Almayı Hedeflemektedir. Yüksek Kaliteli 
                          Ürünleri Ve Tedavi Odaklı Hizmetleriyle Sektördeki Başarısını 
                          Sürdürmeyi Planlamaktadır.</p></h2>
                {% elif  url_name == 'mission'%}
                    Misyonumuz
                    <h2>
                        <p class="heading__desc mb-30">
                            Müşterilerine kaliteli, güvenilir ve uygun fiyatlı medikal 
                            cihazlar ve tıbbi malzemeler sağlamak, müşteri memnuniyetini 
                            sağlamak ve toplumun sağlığına katkıda bulunmaktır.
                        </p>
                    </h2>
                {% else %}
                    Vizyonumuz
                    <h2>
                        <p class="heading__desc mb-30">
                            Sektörde lider bir konuma sahip olmak, yenilikçi ve 
                            öncü ürünler sunmak, müşteri memnuniyetini artırmak ve 
                            toplumun sağlığına katkıda bulunmaktır.
                        </p>
                    </h2>
                {% endif %}
            </h1>
              
              <br><br><br>
            </div><!-- /.col-xl-8 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
    {% endwith %}
{% endblock content %}